.img-avatar {
    width: 35px;
    border-radius: 50%;
}
.contentBox {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 100px;
}
.visibility{
    border-radius: 20px;
}
.btn-form{
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}