<div class="wrapper p-3">

  <div class="row">
    <div class="col-1">
      <img src="../../../assets/images/profile/user.svg" alt="avatar" class="img-avatar">
    </div>
    <div class="col-11">
      <button class="btn btn-sm btn-post">Crear publicación</button>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-3">
      <img src="../../../assets/images/wall/attachment.svg" alt="" class="img-tool">
      <a class="text-tool" routerLink="#">Compartir</a>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/wall/post.svg" alt="" class="img-tool">
      <a class="text-tool" routerLink="#">Post</a>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/wall/question.svg" alt="" class="img-tool">
      <a class="text-tool" routerLink="#">Consultar</a>
    </div>

    <div class="col-3">
      <img src="../../../assets/images/wall/helping-hand.svg" alt="" class="img-tool">
      <a class="text-tool" routerLink="#">Pedir Ayuda</a>
    </div>

  </div>

</div>
