.wrapper {
  background-color: #fff;
  border-radius: 10px;
}

.user-avatar {
  width: 40px;
}

.user-name {
  margin: 0;
  font-size: 14px;
}

.user-data {
  color: gray;
  font-size: 12px;
  margin: 0;
}

.img-tool {
  width: 15px;
}

.text-tool {
  display: inline;
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}
